<% @superheros.each do |superhero| %>
  <h1><%= superhero.name %></h1>
  <h2><%= superhero.full_name %></h2>  
  <h3><%= superhero.ability %></h3>    
  <h3><%= superhero.occupation %></h3>     
  <h3><%= superhero.gender %></h3>    
  <h3><%= superhero.city %></h3>  
  <h3><%= superhero.publisher %></h3>         
<% end %>

