<% @superheros.each do |superhero| %>
  <h1><%= superhero.name %></h1>
  <h1><%= superhero.first_name %></h1>
  <h1><%= superhero.last_name %></h1>
  <h1><%= superhero.gender %></h1>
   <h1><%= superhero.ability %></h1>  
   <h1><%= superhero.city %></h1>     
   <h1><%= superhero.occupation %></h1>  
   <h1><%= superhero.publisher %></h1>             
<% end %>